MyWebApp/wwwroot/App_WebReferences/FlightServices/FlightServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SearchFlight">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_hap" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_hapType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Origin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Destination" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FromDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ToDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Class" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Airlines" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Adults" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Childs" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Infants" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="isReturn" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="CompanyCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchFlightResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchFlightResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="withAddedParameter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_hap" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_hapType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Origin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Destination" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FromDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ToDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Class" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Airlines" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Adults" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Childs" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Infants" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="isReturn" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="CompanyCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isDirectFlight" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="withAddedParameterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="withAddedParameterResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCompletionList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="prefixText" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCompletionListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCompletionListResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getIBECityName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strIBECountry" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getIBECityNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getIBECityNameResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllAirlines">
        <s:complexType />
      </s:element>
      <s:element name="GetAllAirlinesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllAirlinesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SearchFlightSoapIn">
    <wsdl:part name="parameters" element="tns:SearchFlight" />
  </wsdl:message>
  <wsdl:message name="SearchFlightSoapOut">
    <wsdl:part name="parameters" element="tns:SearchFlightResponse" />
  </wsdl:message>
  <wsdl:message name="withAddedParameterSoapIn">
    <wsdl:part name="parameters" element="tns:withAddedParameter" />
  </wsdl:message>
  <wsdl:message name="withAddedParameterSoapOut">
    <wsdl:part name="parameters" element="tns:withAddedParameterResponse" />
  </wsdl:message>
  <wsdl:message name="GetCompletionListSoapIn">
    <wsdl:part name="parameters" element="tns:GetCompletionList" />
  </wsdl:message>
  <wsdl:message name="GetCompletionListSoapOut">
    <wsdl:part name="parameters" element="tns:GetCompletionListResponse" />
  </wsdl:message>
  <wsdl:message name="getIBECityNameSoapIn">
    <wsdl:part name="parameters" element="tns:getIBECityName" />
  </wsdl:message>
  <wsdl:message name="getIBECityNameSoapOut">
    <wsdl:part name="parameters" element="tns:getIBECityNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllAirlinesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllAirlines" />
  </wsdl:message>
  <wsdl:message name="GetAllAirlinesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllAirlinesResponse" />
  </wsdl:message>
  <wsdl:portType name="FlightServicesSoap">
    <wsdl:operation name="SearchFlight">
      <wsdl:input message="tns:SearchFlightSoapIn" />
      <wsdl:output message="tns:SearchFlightSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchFlight">
      <wsdl:input name="withAddedParameter" message="tns:withAddedParameterSoapIn" />
      <wsdl:output name="withAddedParameter" message="tns:withAddedParameterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCompletionList">
      <wsdl:input message="tns:GetCompletionListSoapIn" />
      <wsdl:output message="tns:GetCompletionListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getIBECityName">
      <wsdl:input message="tns:getIBECityNameSoapIn" />
      <wsdl:output message="tns:getIBECityNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAirlines">
      <wsdl:input message="tns:GetAllAirlinesSoapIn" />
      <wsdl:output message="tns:GetAllAirlinesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FlightServicesSoap" type="tns:FlightServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchFlight">
      <soap:operation soapAction="http://tempuri.org/SearchFlight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchFlight">
      <soap:operation soapAction="http://tempuri.org/withAddedParameter" style="document" />
      <wsdl:input name="withAddedParameter">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="withAddedParameter">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompletionList">
      <soap:operation soapAction="http://tempuri.org/GetCompletionList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIBECityName">
      <soap:operation soapAction="http://tempuri.org/getIBECityName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAirlines">
      <soap:operation soapAction="http://tempuri.org/GetAllAirlines" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FlightServicesSoap12" type="tns:FlightServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchFlight">
      <soap12:operation soapAction="http://tempuri.org/SearchFlight" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchFlight">
      <soap12:operation soapAction="http://tempuri.org/withAddedParameter" style="document" />
      <wsdl:input name="withAddedParameter">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="withAddedParameter">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompletionList">
      <soap12:operation soapAction="http://tempuri.org/GetCompletionList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIBECityName">
      <soap12:operation soapAction="http://tempuri.org/getIBECityName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAirlines">
      <soap12:operation soapAction="http://tempuri.org/GetAllAirlines" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FlightServices">
    <wsdl:port name="FlightServicesSoap" binding="tns:FlightServicesSoap">
      <soap:address location="http://www.btres.com/WL/LiveWLSrv/FlightServices.asmx" />
    </wsdl:port>
    <wsdl:port name="FlightServicesSoap12" binding="tns:FlightServicesSoap12">
      <soap12:address location="http://www.btres.com/WL/LiveWLSrv/FlightServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>